{% load set_var %}
{% set current_week = 6 %}

{% if part_list %}
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <th>Entry</th>
            <th>Week 1</th>
            <th>Week 2</th>
            <th>Week 3</th>
            <th>Week 4</th>
            <th>Week 5</th>
            <th>Week 6</th>
        </tr>

        {% for part in part_list %}
            {% if part.alive %}
                <tr>
                    <td>{{part.part_name}}</td>
                    {% for week in week_list %}
                        {% if week.participant_id == part.id %}
                        <td> {{week.team_abbrv}} </td>
                        {%endif%}
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

        <tr>
            <td>MAX</td>

            {% set week_iter = 1 %}
            {% for week in max_per_week %}

                week_iter is {{week_iter}}

                {% if week_iter <= current_week %}
                    <td>{{week}}</td>
                {% endif %}

                {% set week_iter = 2 %}
            {% endfor %}

        </tr>


    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}